# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# dbt specific files - paths are relative to this .gitignore file
# (which is in PRODUCT_WAREHOUSE/, the dbt project root)
logs/
target/
dbt_packages/ # Add this if you plan to use dbt packages

# Environment files
.env

# IDE / OS specific
.vscode/

logs/
target/

# For dbt project subfolder generated folders
product_warehouse_dbt/logs/
product_warehouse_dbt/target/
product_warehouse_dbt/dbt_packages/